<!DOCTYPE html>
<html>
    <head>
        <title>STK-UDS CoG UPDATER</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script type="text/javascript">
            var i = 0
            Dropzone.options.myDropzone = {
                dictDefaultMessage: "Drop files here or click to upload.",
                autoProcessQueue: false,
                uploadMultiple: true,
                addRemoveLinks: true,
                parallelUploads: 2,
                maxFiles: 2,
                maxFilesize: 128000000,
                acceptedFiles: ".csv, .tsv, .txt",
                init: function() {
                    myDropzone = this; // closure
                    document.querySelector("button[type=submit]").addEventListener("click", function(e) {
                        e.preventDefault();
                        e.stopPropagation();
                        myDropzone.processQueue();
                    });

                    this.on("success", function(first,response) {
                        i+=1;
                        if(i==2){
                            location.href=response;
                        }
                    });
                }
            };
        </script>
    </head>
    <body>
        <div class="topnav">
            <h3>STK-UDS CoG UPDATER</h3>
            <p>Tool compatible with UDS (Ultimate Deal Sheet), or any other sheet with the same fields.</p>
        </div>
        <div class="zone">
            <div class="instructions">
                <h5>Please upload the following files:</h5>
                <ul>
                    <li>STK CoG Report (.txt)</li>
                    <li>Ultimate Deal Sheet, "Deal Sheet" sheet (.csv)</li>
                </ul>
            </div>
            <div class="form_div">
                <form action="/" class="dropzone" id="my-dropzone" method="POST">
                    <div class="form-group">
                        <input name="userTS" id="iTS" value="" disabled/>
                    </div>
                </form>
                <button type="submit" id="submit_btn">Submit</button>
            </div>
        </div>
        <script type="text/javascript">
            document.querySelector("#iTS").value = Date.now().toString();
        </script>
    </body>
    <footer>
        <a href="https://twitter.com/jckceo" target="_blank">Made with ❤️ by Jack</a>
    </footer>
</html>